/*
Esto es un comentario de CSS
*/

/*
selector {
    propiedad:valor;
    propiedad:valor;

}


*/
body {
    background-color: rgb(167, 247, 216);
}


h1 {
    color:rgb(7, 15, 19);
}

h3 {
    color: rgb(23, 50, 64);
}

p {

    color: rgb(45, 71, 85);
}
dt {
    color: rgb(18, 97, 139);
}